.game{
    width: 80%;
    height: 400px;
    margin-top: 20px;
    flex-direction: row;
}
.game-cpu::after{
    font-size: 5rem;
    width: 100px;
    top: -20px;
    left: calc(25% - 50px);
}
.game-player::before{
    font-size: 5rem;
    width: 180px;
    top: -20px;
    left: calc(75% - 90px);
}
[class^="game-"]{
    width: 40%;
    height: 60%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.btn{
    margin-bottom: 5%;
    width: 50%;
    height: 80px;
}
[class^="btn-"]{
    width: 28%;
    height: 90%;
    border-radius: 30% 40% 30% 40%;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
}
.result{
    padding: 80px 0 0 0;
    font-size: 8rem;
}